.visible {
    background-color: lightyellow;
    width: 150px;
    height: 150px;
    overflow: visible;
   }
   .scroll {
    background-color: lightgreen;
    width: 150px;
    height: 150px;
    overflow: scroll; 
   }
   .hidden {
    background-color: lightblue;
    width: 150px;
    height: 150px;
    overflow: hidden; 
   }
   .auto {
    background-color: lightgrey;
    width: 150px;
    height: 150px;
    overflow: auto;
   }
 
   .auto-img {
    background-color: lightgrey;
    overflow: hidden;
   }
   .auto-img img{
   float: left;
   max-height: 300px;
   }
   